{"openapi":"3.1.0","info":{"title":"OpenSettle API","version":"1.0.0","description":"Non-custodial Web3 payments API. Stablecoin settlement on Base / Ethereum / Polygon / Arbitrum (EVM), plus Solana and Tron. Authenticate with a workspace-scoped Bearer API key (`sk_live_...` or `sk_test_...`). All money amounts are minor units (cents). All times are ISO-8601 UTC strings.","contact":{"name":"OpenSettle","url":"https://opensettle.io"}},"servers":[{"url":"https://api.opensettle.io"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"customers","description":"Customers attached to a workspace"},{"name":"products","description":"Products + recurring/one-time prices"},{"name":"subscriptions","description":"Recurring billing"},{"name":"invoices","description":"One-off + subscription invoices"},{"name":"payments","description":"On-chain payment records + refunds"},{"name":"webhooks","description":"Endpoint registration + event replay"},{"name":"checkouts","description":"Hosted payment sessions"},{"name":"wallets","description":"Merchant settlement wallets (verify required)"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"sk_{live|test}_…","description":"Workspace-scoped API key. The key's scope determines which workspace it operates against; the URL `:workspaceId` must match. Permissions: `readonly` → viewer, `restricted` → developer, `full` → admin."}},"schemas":{"Error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","example":"invalid_request"},"message":{"type":"string","example":"Idempotency-Key header is required on this endpoint"},"param":{"type":"string","nullable":true,"example":"Idempotency-Key"}}},"ErrorEnvelope":{"type":"object","required":["error","requestId"],"properties":{"error":{"$ref":"#/components/schemas/Error"},"requestId":{"type":"string","example":"req_01HZ…"}}},"Customer":{"type":"object","properties":{"id":{"type":"string","example":"cus_01HZ…"},"workspaceId":{"type":"string"},"email":{"type":"string","format":"email"},"name":{"type":"string","nullable":true},"wallet":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","enum":["active","deleted"]},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time","nullable":true}}},"Payment":{"type":"object","properties":{"id":{"type":"string","example":"pay_01HZ…"},"workspaceId":{"type":"string"},"customerId":{"type":"string","nullable":true},"walletId":{"type":"string","nullable":true},"amountMinor":{"type":"integer","description":"USD cents"},"feeMinor":{"type":"integer"},"netMinor":{"type":"integer"},"currency":{"type":"string","example":"USD"},"token":{"type":"string","enum":["USDC","USDT"]},"chain":{"type":"string","enum":["base","ethereum","polygon","arbitrum","solana","tron"]},"status":{"type":"string","enum":["pending","confirmed","failed","refunded"]},"txHash":{"type":"string","nullable":true},"confirmations":{"type":"integer"},"confirmedAt":{"type":"string","format":"date-time","nullable":true},"createdAt":{"type":"string","format":"date-time"}}},"WebhookEndpoint":{"type":"object","properties":{"id":{"type":"string"},"workspaceId":{"type":"string"},"url":{"type":"string","format":"uri"},"description":{"type":"string","nullable":true},"events":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["enabled","disabled"]},"successRate":{"type":"number"},"createdAt":{"type":"string","format":"date-time"}}},"WebhookDelivery":{"type":"object","properties":{"id":{"type":"string"},"eventId":{"type":"string"},"eventType":{"type":"string"},"status":{"type":"string","enum":["pending","delivering","succeeded","failed","dead"]},"attemptCount":{"type":"integer"},"httpStatus":{"type":"integer","nullable":true},"lastError":{"type":"string","nullable":true},"latencyMs":{"type":"integer","nullable":true},"deliveredAt":{"type":"string","format":"date-time","nullable":true},"createdAt":{"type":"string","format":"date-time"}}},"PaginatedList":{"type":"object","properties":{"data":{"type":"array","items":{}},"hasMore":{"type":"boolean"},"nextCursor":{"type":"string","nullable":true}}}},"responses":{"Unauthorized":{"description":"Missing or invalid bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"Forbidden":{"description":"Authenticated but lacks required role / workspace scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"NotFound":{"description":"Resource doesn't exist or isn't visible in this workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"RateLimited":{"description":"Too many requests — see `Retry-After` header","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}},"headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds"}}}},"parameters":{"WorkspaceId":{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},"IdempotencyKey":{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string"},"description":"Required on every money-adjacent POST. Replaying with the same key returns the original response byte-for-byte. Different body + same key → 409."}}},"paths":{"/v1/healthz":{"get":{"tags":["health"],"summary":"Liveness probe (public)","security":[],"responses":{"200":{"description":"Service is up","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"}}}}}}}}},"/v1/readyz":{"get":{"tags":["health"],"summary":"Readiness probe (public)","description":"Verifies DB connectivity. Used by Fly health checks. Body intentionally omits the session count value to avoid leaking deployment volume to public probes.","security":[],"responses":{"200":{"description":"Healthy","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"db":{"type":"string","enum":["ok"]},"checks":{"type":"object"},"elapsed_ms":{"type":"integer"}}}}}},"503":{"description":"DB unreachable"}}}},"/v1/workspaces/{workspaceId}/customers":{"get":{"tags":["customers"],"summary":"List customers","parameters":[{"$ref":"#/components/parameters/WorkspaceId"},{"name":"status","in":"query","schema":{"type":"string","enum":["active","deleted"]}},{"name":"q","in":"query","schema":{"type":"string"},"description":"Substring match on email or name"},{"name":"cursor","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}}],"responses":{"200":{"description":"Page of customers","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedList"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Customer"}}}}]}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["customers"],"summary":"Create a customer","parameters":[{"$ref":"#/components/parameters/WorkspaceId"},{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email"},"name":{"type":"string"},"wallet":{"type":"string","nullable":true},"country":{"type":"string","nullable":true}}}}}},"responses":{"201":{"description":"Customer created","content":{"application/json":{"schema":{"type":"object","properties":{"customer":{"$ref":"#/components/schemas/Customer"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"409":{"description":"Customer with that email already exists"}}}},"/v1/workspaces/{workspaceId}/payments":{"get":{"tags":["payments"],"summary":"List payments","parameters":[{"$ref":"#/components/parameters/WorkspaceId"},{"name":"status","in":"query","schema":{"type":"string","enum":["pending","confirmed","failed","refunded"]}},{"name":"customerId","in":"query","schema":{"type":"string"}},{"name":"subscriptionId","in":"query","schema":{"type":"string"}},{"name":"expand","in":"query","schema":{"type":"string","enum":["customer"]}},{"name":"format","in":"query","schema":{"type":"string","enum":["csv"]},"description":"Returns text/csv when set"},{"name":"cursor","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}}],"responses":{"200":{"description":"Page of payments","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedList"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Payment"}}}}]}}}}}}},"/v1/workspaces/{workspaceId}/payments/{paymentId}/refund":{"post":{"tags":["payments"],"summary":"Initiate a non-custodial refund","description":"Returns an unsigned tx envelope that the merchant signs from their own wallet. OpenSettle never moves funds. The refund only takes effect when the chain reader observes the signed tx via `attachRefundTx` after confirmations.","parameters":[{"$ref":"#/components/parameters/WorkspaceId"},{"name":"paymentId","in":"path","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"amountMinor":{"type":"integer","description":"Defaults to full amount"},"reason":{"type":"string","nullable":true},"recipientAddress":{"type":"string","description":"Required when not captured at payment time. Strict per-chain validation: cross-chain (e.g. EVM address on Solana payment) is refused."}}}}}},"responses":{"200":{"description":"Refund initiated; sign + broadcast envelope returned","content":{"application/json":{"schema":{"type":"object","properties":{"payment":{"$ref":"#/components/schemas/Payment"},"unsignedTx":{"type":"object"}}}}}},"400":{"description":"Recipient invalid for this chain"},"403":{"description":"Admin role required"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"description":"Refund already in progress"}}}},"/v1/workspaces/{workspaceId}/webhook_endpoints":{"get":{"tags":["webhooks"],"summary":"List webhook endpoints","parameters":[{"$ref":"#/components/parameters/WorkspaceId"}],"responses":{"200":{"description":"All registered endpoints","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WebhookEndpoint"}}}}}}}}},"post":{"tags":["webhooks"],"summary":"Register a webhook endpoint","description":"The `signingSecret` is returned exactly once. Verify webhook payloads by HMAC-SHA256 of `${timestamp}.${body}` against this secret; the signature header is `x-opensettle-signature: t=…,v1=…`.","parameters":[{"$ref":"#/components/parameters/WorkspaceId"},{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri"},"description":{"type":"string"},"events":{"type":"array","items":{"type":"string"},"description":"`[\"*\"]` for all events"}}}}}},"responses":{"201":{"description":"Endpoint registered; signingSecret revealed once","content":{"application/json":{"schema":{"type":"object","properties":{"endpoint":{"$ref":"#/components/schemas/WebhookEndpoint"},"signingSecret":{"type":"string","example":"whsec_…"}}}}}},"400":{"description":"URL must be HTTPS and not point at private/loopback IPs (SSRF guard)"}}}},"/v1/workspaces/{workspaceId}/webhook_endpoints/{endpointId}/deliveries":{"get":{"tags":["webhooks"],"summary":"List delivery attempts for an endpoint","parameters":[{"$ref":"#/components/parameters/WorkspaceId"},{"name":"endpointId","in":"path","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}}],"responses":{"200":{"description":"Page of deliveries, newest first","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedList"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WebhookDelivery"}}}}]}}}}}}},"/v1/workspaces/{workspaceId}/webhook_endpoints/{endpointId}/deliveries/{deliveryId}/replay":{"post":{"tags":["webhooks"],"summary":"Re-enqueue a specific delivery","parameters":[{"$ref":"#/components/parameters/WorkspaceId"},{"name":"endpointId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Re-enqueued; worker will retry on next tick","content":{"application/json":{"schema":{"type":"object","properties":{"delivery":{"$ref":"#/components/schemas/WebhookDelivery"}}}}}},"404":{"$ref":"#/components/responses/NotFound"},"422":{"description":"Cannot replay against a disabled endpoint"}}}}}}