{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenSettle API",
    "version": "1.2.0",
    "description": "Non-custodial Web3 payments API. Stablecoin (USDC, USDT) settlement on the EVM chains Base, Ethereum, Polygon, and Arbitrum. Solana and Tron are implemented at the API + wallet-verification layer (`/wallets` accepts `chain: \"solana\" | \"tron\"`) and the chain reader will detect inbound SPL / TRC-20 deposits to verified wallets, but customer-facing hosted checkout is currently EVM-only. Authenticate with a workspace-scoped Bearer API key (`sk_live_...` or `sk_test_...`). All money amounts are minor units (cents). All times are ISO-8601 UTC strings.",
    "contact": {
      "name": "OpenSettle",
      "url": "https://opensettle.io"
    }
  },
  "servers": [
    {
      "url": "https://api.opensettle.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "customers",
      "description": "Customers attached to a workspace"
    },
    {
      "name": "products",
      "description": "Products + recurring/one-time prices"
    },
    {
      "name": "subscriptions",
      "description": "Recurring billing"
    },
    {
      "name": "invoices",
      "description": "One-off + subscription invoices"
    },
    {
      "name": "payments",
      "description": "On-chain payment records + refunds"
    },
    {
      "name": "webhooks",
      "description": "Endpoint registration + event replay"
    },
    {
      "name": "checkouts",
      "description": "Hosted payment sessions"
    },
    {
      "name": "payment_links",
      "description": "Reusable, shareable payment links"
    },
    {
      "name": "wallets",
      "description": "Merchant settlement wallets. NOTE: these are managed in the OpenSettle dashboard and authenticate with a dashboard SESSION, not an API key \u2014 calling them with an `sk_live_`/`sk_test_` Bearer token returns 401. Add and verify your settlement wallets in the dashboard before going live; the shapes are documented here for reference."
    },
    {
      "name": "rails",
      "description": "Settlement readiness. Unlike `wallets` (dashboard-session-only), this IS API-key readable \u2014 a backend can gate on which (chain, token) pairs are actually ready before creating a checkout."
    },
    {
      "name": "affiliates",
      "description": "Partner / affiliate program: program config, partners (incl. self-signup applicant approval), and the non-custodial commission ledger the merchant pays out from their own wallet. The whole feature is INERT until the program is enabled. Workspace-scoped endpoints require an API key with `restricted` (developer) or `full` (admin) permission \u2014 partner PII and the payout ledger are never `readonly`/viewer-readable."
    },
    {
      "name": "referrals",
      "description": "Merchant-to-merchant referral program: a workspace's own referral code + the referrals it has driven, and applying another merchant's code to this workspace."
    },
    {
      "name": "affiliate_signup",
      "description": "PUBLIC, unauthenticated, rate-limited affiliate self-signup \u2014 the partner-facing front door for a merchant's `/a/<slug>` page. No API key."
    },
    {
      "name": "health",
      "description": "Liveness + readiness probes"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "sk_{live|test}_\u2026",
        "description": "Workspace-scoped API key. The key's scope determines which workspace it operates against; the URL `:workspaceId` must match. Permissions: `readonly` \u2192 viewer, `restricted` \u2192 developer, `full` \u2192 admin."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message",
          "request_id"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "invalid_request",
              "unauthorized",
              "forbidden",
              "not_found",
              "conflict",
              "invalid_state_transition",
              "rate_limited",
              "aal_required",
              "restricted_jurisdiction",
              "kyb_required",
              "chain_reverted",
              "insufficient_confirmations",
              "signing_required",
              "attestation_required",
              "internal_error"
            ],
            "example": "invalid_request"
          },
          "message": {
            "type": "string",
            "example": "Idempotency-Key header is required on this endpoint"
          },
          "param": {
            "type": "string",
            "nullable": true,
            "example": "Idempotency-Key"
          },
          "request_id": {
            "type": "string",
            "example": "req_01HZ\u2026"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Code-specific extras. `restricted_jurisdiction` carries `{ code, name, reason }`; `kyb_required` carries `{ kybStatus }`; `attestation_required` carries `{ category, requiredAge }`."
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cus_01HZ\u2026"
          },
          "workspaceId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "wallet": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "at_risk",
              "churned"
            ]
          },
          "activeSubscriptions": {
            "type": "integer",
            "description": "Materialized count of this customer's non-canceled subscriptions."
          },
          "lifetimeValue": {
            "type": "integer",
            "deprecated": true,
            "description": "Legacy materialized counter \u2014 a never-written cache that is always 0. Do NOT use; read `lifetimeValueMinor` for realized lifetime volume."
          },
          "lifetimeValueMinor": {
            "type": "integer",
            "description": "Realized lifetime volume in minor units (cents): SUM(amountMinor) over confirmed + refunded payments. Always present on every customer response."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Arbitrary merchant-supplied key/value metadata."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "pay_01HZ\u2026"
          },
          "workspaceId": {
            "type": "string"
          },
          "customerId": {
            "type": "string",
            "nullable": true
          },
          "subscriptionId": {
            "type": "string",
            "nullable": true
          },
          "invoiceId": {
            "type": "string",
            "nullable": true
          },
          "checkoutId": {
            "type": "string",
            "nullable": true
          },
          "walletId": {
            "type": "string",
            "nullable": true
          },
          "amountMinor": {
            "type": "integer",
            "description": "USD cents"
          },
          "feeMinor": {
            "type": "integer"
          },
          "netMinor": {
            "type": "integer"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "token": {
            "type": "string",
            "enum": [
              "USDC",
              "USDT"
            ]
          },
          "chain": {
            "type": "string",
            "enum": [
              "base",
              "ethereum",
              "polygon",
              "arbitrum",
              "solana",
              "tron"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed",
              "failed",
              "refunded",
              "reorged"
            ]
          },
          "failureReason": {
            "type": "string",
            "nullable": true,
            "description": "Set when status is `failed`."
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "txHash": {
            "type": "string",
            "nullable": true,
            "description": "On-chain settlement tx hash. Null until observed \u2014 never substitute the payment id."
          },
          "blockNumber": {
            "type": "integer",
            "nullable": true
          },
          "confirmations": {
            "type": "integer"
          },
          "refundTxHash": {
            "type": "string",
            "nullable": true,
            "description": "Merchant-signed refund transaction hash."
          },
          "refundAmountMinor": {
            "type": "integer",
            "nullable": true,
            "description": "Amount refunded to the payer, in minor units (supports partial refunds)."
          },
          "refundedTotalMinor": {
            "type": "integer",
            "description": "Cumulative amount refunded to the customer (partial + full), in minor units. Unlike the per-attempt refundAmountMinor, this stays accurate on a still-`confirmed` partially-refunded payment \u2014 gate \"how much is still refundable?\" (amountMinor \u2212 this) and reconcile net retained on it."
          },
          "refundRecipient": {
            "type": "string",
            "nullable": true,
            "description": "Address the refund is/was sent to."
          },
          "refundBroadcastAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the merchant reported broadcasting the refund tx."
          },
          "refundedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the refund confirmed on-chain (status \u2192 refunded)."
          },
          "refundReason": {
            "type": "string",
            "nullable": true
          },
          "screeningVerdict": {
            "type": "string",
            "enum": [
              "not_screened",
              "screened_clean",
              "screened_flagged",
              "screen_error"
            ],
            "description": "Sanctions-screening verdict for the payer address. Default `not_screened` until a screening provider is wired. The `screened_flagged` rows are the ops triage queue."
          },
          "screeningProvider": {
            "type": "string",
            "nullable": true
          },
          "screeningScreenedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "tokenAmountBase": {
            "type": "string",
            "nullable": true,
            "description": "Exact on-chain Transfer value in token base units (string bigint). AUTHORITATIVE settled amount. For most integrations prefer the convenience signals `fullySettled` / `settledUsdMinor` below; gate \"did they pay enough?\" on `tokenAmountBase` with BigInt math only if you need raw base units. Do NOT use expectedTokenAmountBase/receivedTokenAmountBase (those are close-match-only and null on a clean payment)."
          },
          "tokenDecimals": {
            "type": "integer",
            "description": "Canonical on-chain decimals for this (chain, token), from OpenSettle's frozen token registry. Interpret tokenAmountBase with THIS \u2014 human amount = tokenAmountBase / 10^tokenDecimals; minor units (cents) = tokenAmountBase / 10^(tokenDecimals-2). Read it instead of hardcoding a per-token table: a hardcoded 6 silently accepts a ~1e12x underpayment the day a token settles at 18 decimals."
          },
          "settledUsdMinor": {
            "type": "integer",
            "nullable": true,
            "description": "The on-chain settled value scaled to USD cents (= tokenAmountBase / 10^(tokenDecimals-2)). Convenience signal so you never re-implement base-unit BigInt scaling; exact for the 1:1 USD-pegged stablecoins supported today. Null until an on-chain amount is recorded."
          },
          "fullySettled": {
            "type": "boolean",
            "description": "True when the received on-chain amount met or exceeded what the payment was expected to settle. A normal exact match is true; a close-match row is true only when received \u2265 expected. Gate access on THIS instead of trusting status === \"confirmed\" alone \u2014 a dust-band underpayment can auto-credit yet not be fully settled."
          },
          "unmatchedInbound": {
            "type": "boolean",
            "description": "True when an inbound transfer matched no pending checkout \u2014 credit manually or refund. Pair with closeMatchCheckoutId."
          },
          "closeMatchCheckoutId": {
            "type": "string",
            "nullable": true,
            "description": "A pending checkout whose target was within \u00b15% of an unmatched inbound transfer \u2014 the buyer's likely intent."
          },
          "expectedTokenAmountBase": {
            "type": "string",
            "nullable": true,
            "description": "The intended checkout target in base units (set on a close-match)."
          },
          "receivedTokenAmountBase": {
            "type": "string",
            "nullable": true,
            "description": "What the buyer actually sent in base units (set on a close-match)."
          },
          "reorgSuspected": {
            "type": "boolean",
            "description": "True when the reorg-afterglow sweep flagged that the canonical chain no longer agrees with the persisted block hash. Status stays `confirmed`; pairs with the `payment.reversed` webhook."
          },
          "confirmedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Merchant-supplied metadata, snapshotted from the originating checkout at payment creation, so you can recover your account binding (e.g. metadata.user_id) from the Payment without a checkout re-fetch. NOTE: the ID-only payment events (payment.confirmed / payment.pending / payment.failed) deliver just paymentId + checkoutId \u2014 GET the payment (or read data.payment on payment.refunded) to read this."
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "events": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "enum": [
                    "*"
                  ],
                  "type": "string"
                },
                {
                  "$ref": "#/components/schemas/WebhookEventType"
                }
              ]
            },
            "description": "Subscribed events: the `*` wildcard or specific WebhookEventType values."
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "successRate": {
            "type": "number"
          },
          "consecutiveFailures": {
            "type": "integer",
            "minimum": 0,
            "description": "Consecutive failed deliveries; resets on any success. 20 \u2192 auto-disabled."
          },
          "rotationGraceUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "If set, the previous signing secret stays valid until this time after a rotate."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "delivering",
              "succeeded",
              "failed",
              "dead"
            ]
          },
          "attemptCount": {
            "type": "integer"
          },
          "httpStatus": {
            "type": "integer",
            "nullable": true
          },
          "lastError": {
            "type": "string",
            "nullable": true
          },
          "latencyMs": {
            "type": "integer",
            "nullable": true
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookEventType": {
        "type": "string",
        "description": "Every webhook event OpenSettle can emit.",
        "enum": [
          "allowance.depleted",
          "checkout.created",
          "checkout.expired",
          "checkout.succeeded",
          "commission.accrued",
          "commission.adjusted",
          "commission.paid",
          "commission.voided",
          "customer.created",
          "customer.deleted",
          "customer.updated",
          "invoice.created",
          "invoice.paid",
          "invoice.past_due",
          "invoice.reminder_sent",
          "invoice.sent",
          "invoice.voided",
          "payment.confirmed",
          "payment.failed",
          "payment.pending",
          "payment.refunded",
          "payment.reorg_suspected",
          "payment.reorged",
          "payment.reversed",
          "price.created",
          "price.updated",
          "product.created",
          "product.updated",
          "refund.broadcast",
          "refund.confirmed",
          "refund.initiated",
          "subscription.canceled",
          "subscription.created",
          "subscription.past_due",
          "subscription.paused",
          "subscription.payment_failed",
          "subscription.plan_changed",
          "subscription.renewed",
          "subscription.resumed",
          "subscription.trial_ended",
          "wallet.connected",
          "wallet.removed",
          "wallet.verified",
          "webhook.endpoint.created",
          "webhook.endpoint.test"
        ]
      },
      "WebhookEvent": {
        "type": "object",
        "required": [
          "id",
          "type",
          "livemode",
          "created_at",
          "data"
        ],
        "description": "The ONE webhook envelope OpenSettle emits. The event name is always at `type` (never `event`/`eventType`) and the resource is always at `data` (never `object`/`payload`/`data.object`). The schema of `data` is selected by `type` \u2014 see the WebhookData_* schemas. SIGNATURE: every delivery carries `X-OpenSettle-Signature: t=<unix>,v1=<hex>` where `v1` is the HMAC-SHA256 of `${t}.${rawBody}` using the endpoint's signing secret; verify it with a constant-time compare AND reject timestamps outside a \u00b1300-second tolerance (the SDK `verifyWebhook` default) to bound replay.",
        "properties": {
          "id": {
            "type": "string",
            "example": "evt_01H\u2026"
          },
          "type": {
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "livemode": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/WebhookData_payment"
              },
              {
                "$ref": "#/components/schemas/WebhookData_payment_refunded"
              },
              {
                "$ref": "#/components/schemas/WebhookData_payment_reorg"
              },
              {
                "$ref": "#/components/schemas/WebhookData_refund"
              },
              {
                "$ref": "#/components/schemas/WebhookData_checkout"
              },
              {
                "$ref": "#/components/schemas/WebhookData_checkout_id"
              },
              {
                "$ref": "#/components/schemas/WebhookData_customer"
              },
              {
                "$ref": "#/components/schemas/WebhookData_customer_id"
              },
              {
                "$ref": "#/components/schemas/WebhookData_invoice"
              },
              {
                "$ref": "#/components/schemas/WebhookData_price"
              },
              {
                "$ref": "#/components/schemas/WebhookData_product"
              },
              {
                "$ref": "#/components/schemas/WebhookData_subscription"
              },
              {
                "$ref": "#/components/schemas/WebhookData_subscription_id"
              },
              {
                "$ref": "#/components/schemas/WebhookData_subscription_renewed"
              },
              {
                "$ref": "#/components/schemas/WebhookData_wallet"
              },
              {
                "$ref": "#/components/schemas/WebhookData_wallet_removed"
              },
              {
                "$ref": "#/components/schemas/WebhookData_allowance"
              },
              {
                "$ref": "#/components/schemas/WebhookData_webhook_endpoint"
              },
              {
                "$ref": "#/components/schemas/WebhookData_webhook_endpoint_test"
              }
            ]
          }
        }
      },
      "WebhookData_payment": {
        "type": "object",
        "required": [
          "paymentId"
        ],
        "description": "payment.pending / payment.confirmed / payment.failed. `payment.confirmed` carries the authoritative settlement scalars below (paymentId, checkoutId, status, amountMinor, chain, token, fullySettled, settledUsdMinor) so you can gate access straight off the signed event without a GET. Full merchant metadata stays OFF the event (size/PII) \u2014 GET /v1/payments/{id} for that, or read data.payment on payment.refunded.",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "checkoutId": {
            "type": "string",
            "nullable": true
          },
          "invoiceId": {
            "type": "string",
            "nullable": true
          },
          "subscriptionId": {
            "type": "string",
            "nullable": true
          },
          "priceId": {
            "type": "string",
            "nullable": true
          },
          "mode": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Payment status at emit time (on payment.confirmed: `confirmed`)."
          },
          "amountMinor": {
            "type": "integer",
            "description": "Expected charge in USD cents."
          },
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "token": {
            "$ref": "#/components/schemas/TokenSymbol"
          },
          "fullySettled": {
            "type": "boolean",
            "description": "On payment.confirmed: true when the received on-chain amount met/exceeded the expected target. Gate access on THIS \u2014 a dust-band underpayment can auto-credit yet read false."
          },
          "settledUsdMinor": {
            "type": "integer",
            "nullable": true,
            "description": "On payment.confirmed: the on-chain settled value scaled to USD cents (tokenAmountBase / 10^(tokenDecimals-2))."
          },
          "failureReason": {
            "type": "string"
          },
          "unmatched": {
            "type": "boolean"
          }
        }
      },
      "WebhookData_payment_refunded": {
        "type": "object",
        "required": [
          "payment"
        ],
        "description": "payment.refunded",
        "properties": {
          "payment": {
            "$ref": "#/components/schemas/Payment"
          }
        }
      },
      "WebhookData_payment_reorg": {
        "type": "object",
        "required": [
          "paymentId"
        ],
        "description": "payment.reversed / payment.reorg_suspected / payment.reorged",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "blockNumber": {
            "type": "integer"
          },
          "persistedHash": {
            "type": "string"
          },
          "canonicalHash": {
            "type": "string"
          },
          "slot": {
            "type": "integer"
          },
          "signature": {
            "type": "string"
          },
          "txHash": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "WebhookData_refund": {
        "type": "object",
        "required": [
          "paymentId"
        ],
        "description": "refund.initiated / refund.broadcast / refund.confirmed",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "amountMinor": {
            "type": "integer"
          },
          "refundTxHash": {
            "type": "string"
          },
          "refundAmountMinor": {
            "type": "integer"
          },
          "refundedTotalMinor": {
            "type": "integer"
          },
          "fullyRefunded": {
            "type": "boolean",
            "description": "On refund.confirmed: whether the payment is now fully refunded."
          }
        }
      },
      "WebhookData_checkout": {
        "type": "object",
        "required": [
          "checkout"
        ],
        "description": "checkout.created / checkout.succeeded",
        "properties": {
          "checkout": {
            "$ref": "#/components/schemas/Checkout"
          },
          "paymentId": {
            "type": "string"
          }
        }
      },
      "WebhookData_checkout_id": {
        "type": "object",
        "required": [
          "checkoutId"
        ],
        "description": "checkout.expired",
        "properties": {
          "checkoutId": {
            "type": "string"
          }
        }
      },
      "WebhookData_customer": {
        "type": "object",
        "required": [
          "customer"
        ],
        "description": "customer.created / customer.updated",
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WebhookData_customer_id": {
        "type": "object",
        "required": [
          "customerId"
        ],
        "description": "customer.deleted",
        "properties": {
          "customerId": {
            "type": "string"
          }
        }
      },
      "WebhookData_invoice": {
        "type": "object",
        "required": [
          "invoice"
        ],
        "description": "invoice.created / sent / paid / voided / past_due / reminder_sent",
        "properties": {
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "paymentId": {
            "type": "string"
          }
        }
      },
      "WebhookData_price": {
        "type": "object",
        "required": [
          "price"
        ],
        "description": "price.created / price.updated",
        "properties": {
          "price": {
            "$ref": "#/components/schemas/Price"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WebhookData_product": {
        "type": "object",
        "required": [
          "product"
        ],
        "description": "product.created / product.updated",
        "properties": {
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WebhookData_subscription": {
        "type": "object",
        "required": [
          "subscription"
        ],
        "description": "subscription.created / paused / resumed / canceled / plan_changed",
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/Subscription"
          },
          "checkoutId": {
            "type": "string"
          },
          "paymentId": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "prorationMode": {
            "type": "string"
          },
          "previousPriceId": {
            "type": "string"
          }
        }
      },
      "WebhookData_subscription_id": {
        "type": "object",
        "required": [
          "subscriptionId"
        ],
        "description": "subscription.past_due / payment_failed / trial_ended",
        "properties": {
          "subscriptionId": {
            "type": "string"
          },
          "attempt": {
            "type": "integer"
          },
          "nextRetryAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "WebhookData_subscription_renewed": {
        "type": "object",
        "required": [
          "subscription",
          "invoice"
        ],
        "description": "subscription.renewed",
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/Subscription"
          },
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "subscriptionId": {
            "type": "string"
          },
          "nextBillingDate": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        }
      },
      "WebhookData_wallet": {
        "type": "object",
        "required": [
          "wallet"
        ],
        "description": "wallet.connected / wallet.verified",
        "properties": {
          "wallet": {
            "$ref": "#/components/schemas/Wallet"
          },
          "inheritedFromWalletId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "WebhookData_wallet_removed": {
        "type": "object",
        "required": [
          "walletId"
        ],
        "description": "wallet.removed",
        "properties": {
          "walletId": {
            "type": "string"
          },
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "WebhookData_allowance": {
        "type": "object",
        "required": [
          "id"
        ],
        "description": "allowance.depleted \u2014 the allowance resource (same shape as the allowances API).",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "token": {
            "$ref": "#/components/schemas/TokenSymbol"
          },
          "ownerAddress": {
            "type": "string"
          },
          "spenderWalletId": {
            "type": "string",
            "nullable": true
          },
          "spenderAddress": {
            "type": "string"
          },
          "customerId": {
            "type": "string",
            "nullable": true
          },
          "allowedAmount": {
            "type": "string",
            "description": "Base units (string bigint)."
          },
          "lastObservedRemaining": {
            "type": "string",
            "nullable": true
          },
          "tokenDecimals": {
            "type": "integer"
          },
          "unlimited": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "approvalTxHash": {
            "type": "string",
            "nullable": true
          },
          "approvalLogIndex": {
            "type": "integer",
            "nullable": true
          },
          "approvalBlockNumber": {
            "type": "integer",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastObservedAt": {
            "type": "string",
            "format": "date-time"
          },
          "revokedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "depletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookData_webhook_endpoint": {
        "type": "object",
        "required": [
          "endpoint"
        ],
        "description": "webhook.endpoint.created",
        "properties": {
          "endpoint": {
            "$ref": "#/components/schemas/WebhookEndpoint"
          }
        }
      },
      "WebhookData_webhook_endpoint_test": {
        "type": "object",
        "required": [
          "endpointId"
        ],
        "description": "webhook.endpoint.test",
        "properties": {
          "endpointId": {
            "type": "string"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "PaginatedList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {}
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Rail": {
        "type": "object",
        "required": [
          "chain",
          "token"
        ],
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "token": {
            "$ref": "#/components/schemas/TokenSymbol"
          }
        },
        "description": "A settlement rail the workspace can accept payment on: a verified, non-removed wallet exists for this chain+token."
      },
      "ChainId": {
        "type": "string",
        "enum": [
          "base",
          "ethereum",
          "polygon",
          "arbitrum",
          "solana",
          "tron"
        ]
      },
      "TokenSymbol": {
        "type": "string",
        "enum": [
          "USDC",
          "USDT"
        ]
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "prod_01HZ\u2026"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Price": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "price_01HZ\u2026"
          },
          "workspaceId": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "description": "Minor units (cents)"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "interval": {
            "type": "string",
            "enum": [
              "one_time",
              "minute",
              "hour",
              "week",
              "month",
              "year"
            ],
            "description": "Billing cadence in base form (the canonical price interval). The Subscription resource returns the adverb view form (e.g. \"monthly\") mapped via priceIntervalToView; create-price requests also take this base form."
          },
          "active": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LineItem": {
        "type": "object",
        "required": [
          "description",
          "quantity",
          "unitAmountMinor"
        ],
        "properties": {
          "description": {
            "type": "string",
            "maxLength": 200
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "unitAmountMinor": {
            "type": "integer"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "in_01HZ\u2026"
          },
          "workspaceId": {
            "type": "string"
          },
          "number": {
            "type": "string",
            "description": "Human-readable, monotonic per workspace"
          },
          "customerId": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string",
            "nullable": true
          },
          "amountMinor": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "token": {
            "$ref": "#/components/schemas/TokenSymbol"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "open",
              "paid",
              "past_due",
              "void"
            ]
          },
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          },
          "memo": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "dueAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "paidAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "sub_01HZ\u2026"
          },
          "workspaceId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "priceId": {
            "type": "string"
          },
          "amountMinor": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "interval": {
            "type": "string",
            "enum": [
              "one_time",
              "minutely",
              "hourly",
              "weekly",
              "monthly",
              "yearly"
            ],
            "description": "Recurring cadence (mapped from the price interval via priceIntervalToView). Returned on the list and single-retrieve responses."
          },
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "token": {
            "$ref": "#/components/schemas/TokenSymbol"
          },
          "status": {
            "type": "string",
            "enum": [
              "trialing",
              "active",
              "past_due",
              "paused",
              "canceled"
            ]
          },
          "autopay": {
            "type": "string",
            "enum": [
              "allowance",
              "smart-wallet",
              "manual"
            ]
          },
          "allowanceTx": {
            "type": "string",
            "nullable": true
          },
          "allowanceRemaining": {
            "type": "integer",
            "nullable": true
          },
          "trialEndsAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "currentPeriodEnd": {
            "type": "string",
            "format": "date-time"
          },
          "nextBillingDate": {
            "type": "string",
            "format": "date-time"
          },
          "canceledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "cancelReason": {
            "type": "string",
            "nullable": true
          },
          "pausedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "mrrMinor": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Arbitrary merchant-supplied key/value metadata."
          },
          "lastAutopayFailure": {
            "type": "object",
            "nullable": true,
            "description": "Why the last autopay (allowance) renewal failed. Only populated on the single-retrieve response for a `past_due` subscription with `autopay: \"allowance\"`; `null` otherwise (including on list responses).",
            "properties": {
              "reason": {
                "type": "string",
                "description": "The payment failure reason."
              },
              "at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "When the failed renewal payment was last updated."
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Checkout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "chk_01HZ\u2026"
          },
          "workspaceId": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": [
              "payment",
              "subscription"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "pending",
              "succeeded",
              "failed",
              "expired"
            ]
          },
          "customerId": {
            "type": "string",
            "nullable": true
          },
          "invoiceId": {
            "type": "string",
            "nullable": true
          },
          "priceId": {
            "type": "string",
            "nullable": true
          },
          "amountMinor": {
            "type": "integer",
            "description": "The actual charged amount in USD cents. When a coupon is applied this is the DISCOUNTED charge, NOT the list price \u2014 reconcile against originalAmountMinor / couponDiscountMinor."
          },
          "couponCode": {
            "type": "string",
            "nullable": true,
            "description": "Applied coupon code, or null when none was applied."
          },
          "couponDiscountMinor": {
            "type": "integer",
            "nullable": true,
            "description": "Discount the coupon took off the list price, in USD cents, or null."
          },
          "originalAmountMinor": {
            "type": "integer",
            "description": "List price before any coupon (= amountMinor + couponDiscountMinor). Equals amountMinor when no coupon was applied."
          },
          "currency": {
            "type": "string"
          },
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "token": {
            "$ref": "#/components/schemas/TokenSymbol"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "successUrl": {
            "type": "string",
            "description": "Buyer return URL, or \"\" when none was set (the hosted success page then shows no redirect)."
          },
          "cancelUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "hostedUrl": {
            "type": "string",
            "description": "Absolute buyer-facing URL (e.g. `https://opensettle.io/checkout/<hostedToken>`). Redirect the buyer straight to it \u2014 do NOT prepend an origin. Uses the unguessable hosted-token, not the timestamp-prefixed `id`."
          }
        }
      },
      "PaymentLink": {
        "type": "object",
        "description": "A reusable, shareable payment link. Each visit to its `url` spawns a fresh checkout, so one link can collect many payments. Back it with a fixed `amount`, a saved `priceId` (one-time, or a recurring price to make a Subscribe link), or an `openAmount` the buyer names (\"name your price\" / top-up).",
        "properties": {
          "id": {
            "type": "string",
            "example": "plink_01HZ\u2026"
          },
          "url": {
            "type": "string",
            "description": "Absolute, reusable buyer-facing URL (e.g. `https://opensettle.io/pay/<token>`). Share or embed it directly \u2014 do NOT prepend an origin."
          },
          "description": {
            "type": "string"
          },
          "priceId": {
            "type": "string",
            "nullable": true
          },
          "amountMinor": {
            "type": "integer",
            "description": "Fixed charge in minor units. `0` when `openAmount` is true."
          },
          "openAmount": {
            "type": "boolean",
            "description": "When true the buyer chooses the amount on the hosted page (\"name your price\" / top-up), bounded by minAmountMinor/maxAmountMinor."
          },
          "minAmountMinor": {
            "type": "integer",
            "nullable": true,
            "description": "Effective floor for an open-amount link (defaults to $0.50 when unset)."
          },
          "maxAmountMinor": {
            "type": "integer",
            "nullable": true,
            "description": "Optional ceiling for an open-amount link."
          },
          "presetAmounts": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "description": "Optional quick-pick chips (each within [min, max])."
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "token": {
            "$ref": "#/components/schemas/TokenSymbol"
          },
          "successUrl": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "wlt_01HZ\u2026"
          },
          "workspaceId": {
            "type": "string"
          },
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "token": {
            "$ref": "#/components/schemas/TokenSymbol"
          },
          "address": {
            "type": "string",
            "description": "EIP-55 checksum for EVM, base58 32-byte for Solana, base58check `T\u2026` for Tron."
          },
          "nickname": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "verifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isDefault": {
            "type": "boolean"
          },
          "balance": {
            "type": "integer",
            "description": "Cached, may be stale"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WalletChallenge": {
        "type": "object",
        "required": [
          "id",
          "message",
          "expiresAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "wch_01HZ\u2026"
          },
          "message": {
            "type": "string",
            "description": "Multi-line UTF-8 challenge. Wallet must sign these exact bytes; tampering rotates the verifier into rejection."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AffiliateProgram": {
        "type": "object",
        "required": [
          "enabled",
          "defaultCommissionBps",
          "subscriptionCommission",
          "couponId",
          "autoApprove",
          "signupSlug"
        ],
        "description": "A workspace's affiliate-program config. OFF by default \u2014 the whole feature is INERT until `enabled` is true. A never-configured program returns the defaults shown here (enabled false, 0 bps, etc.).",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Master switch. While false, no attribution accrues and the signup link 404s."
          },
          "defaultCommissionBps": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "description": "Default partner commission in basis points (2000 = 20%); a per-affiliate `commissionBps` overrides it."
          },
          "subscriptionCommission": {
            "type": "string",
            "enum": [
              "first",
              "recurring"
            ],
            "description": "`first` = commission on the first charge only; `recurring` = on every renewal."
          },
          "couponId": {
            "type": "string",
            "nullable": true,
            "description": "Optional customer-discount coupon auto-applied by this program's affiliate links (reuses the coupon engine)."
          },
          "autoApprove": {
            "type": "boolean",
            "description": "When true a public self-signup applicant is auto-promoted to `active`; when false (default) applicants land as `pending` and earn nothing until approved."
          },
          "signupSlug": {
            "type": "string",
            "nullable": true,
            "description": "Public self-signup slug \u2014 the partner-facing URL is `${SITE}/a/<signupSlug>`. Null = no public front door. Generated when the program is first enabled."
          }
        }
      },
      "Affiliate": {
        "type": "object",
        "required": [
          "id",
          "code",
          "name",
          "email",
          "commissionBps",
          "payoutWallet",
          "payoutChain",
          "status",
          "createdAt"
        ],
        "description": "A partner registered for a merchant's affiliate program.",
        "properties": {
          "id": {
            "type": "string",
            "example": "aff_01HZ\u2026"
          },
          "code": {
            "type": "string",
            "description": "The attribution link param \u2014 `?aff=CODE`. Unique per workspace. Server-generated for self-signups; URL-safe (`[A-Za-z0-9_-]`)."
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Partner contact, used to pay them out."
          },
          "commissionBps": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 10000,
            "description": "Per-affiliate commission override in basis points; null = inherit the program default."
          },
          "payoutWallet": {
            "type": "string",
            "nullable": true,
            "description": "The partner's own crypto address their commission is paid to."
          },
          "payoutChain": {
            "type": "string",
            "nullable": true,
            "description": "Chain the payout wallet is registered for (a ChainId value). The payout settles on the SALE's chain; a mismatch is refused at payout-build time."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "disabled"
            ],
            "description": "`active` = earning; `pending` = a self-signup applicant awaiting merchant approval (earns nothing); `disabled` = removed/rejected."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AffiliateCommission": {
        "type": "object",
        "required": [
          "id",
          "affiliateId",
          "paymentId",
          "saleAmountMinor",
          "commissionMinor",
          "currency",
          "status",
          "paidTxHash",
          "createdAt",
          "paidAt"
        ],
        "description": "One row of the commission ledger \u2014 what the merchant owes a partner for an attributed sale. Non-custodial: the merchant pays it out from their own wallet. Accrual is idempotent per (payment, affiliate).",
        "properties": {
          "id": {
            "type": "string",
            "example": "afc_01HZ\u2026"
          },
          "affiliateId": {
            "type": "string"
          },
          "paymentId": {
            "type": "string",
            "description": "The confirmed sale this commission accrued on."
          },
          "saleAmountMinor": {
            "type": "integer",
            "description": "Sale amount in minor units (cents)."
          },
          "commissionMinor": {
            "type": "integer",
            "description": "Current owed commission in minor units \u2014 reduced in place if the sale is partially refunded. This is what the merchant pays."
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "paying",
              "paid",
              "void"
            ],
            "description": "`pending` \u2192 payable; `paying` = a built payout is in flight (recover via release_payout); `paid` = merchant settled it; `void` = reversed/canceled."
          },
          "paidTxHash": {
            "type": "string",
            "nullable": true,
            "description": "On-chain hash of the merchant's payout transfer, once marked paid."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "paidAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CommissionPayout": {
        "type": "object",
        "required": [
          "commissionId",
          "chain",
          "token",
          "recipient",
          "amountMinor",
          "unsignedTx"
        ],
        "description": "The unsigned ERC-20 transfer the merchant signs from their own wallet to pay a partner (non-custodial \u2014 OpenSettle never moves funds, exactly like a refund). The rail is derived from the originating sale's payment. EVM-only; for Solana/Tron the merchant pays out manually and marks paid. Building this claims the commission `pending \u2192 paying`.",
        "properties": {
          "commissionId": {
            "type": "string"
          },
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "token": {
            "$ref": "#/components/schemas/TokenSymbol"
          },
          "recipient": {
            "type": "string",
            "description": "The affiliate's checksummed payout address."
          },
          "amountMinor": {
            "type": "integer",
            "description": "Commission to pay, in minor units (cents)."
          },
          "unsignedTx": {
            "type": "object",
            "required": [
              "to",
              "data",
              "value",
              "chainId",
              "tokenAddress",
              "recipient",
              "amountBaseUnits"
            ],
            "description": "The unsigned EVM transaction envelope to sign + broadcast (same shape as a refund envelope).",
            "properties": {
              "to": {
                "type": "string",
                "description": "ERC-20 contract address (`tx.to`)."
              },
              "data": {
                "type": "string",
                "description": "`0x\u2026` encoded calldata for `transfer(recipient, amountBaseUnits)`."
              },
              "value": {
                "type": "string",
                "enum": [
                  "0"
                ],
                "description": "Native value attached; always \"0\" for ERC-20 transfers."
              },
              "chainId": {
                "type": "integer",
                "description": "EIP-155 chain id the wallet must sign for."
              },
              "tokenAddress": {
                "type": "string",
                "description": "Canonical checksummed ERC-20 contract address (duplicate of `to`)."
              },
              "recipient": {
                "type": "string",
                "description": "Canonical checksummed recipient address."
              },
              "amountBaseUnits": {
                "type": "string",
                "description": "Amount as a decimal string in token base units (e.g. 6-dec for USDC)."
              }
            }
          }
        }
      },
      "Referral": {
        "type": "object",
        "required": [
          "id",
          "refereeWorkspaceId",
          "status",
          "rewardMinor",
          "createdAt",
          "completedAt"
        ],
        "description": "A merchant-to-merchant referral the calling workspace drove (it is the referrer).",
        "properties": {
          "id": {
            "type": "string",
            "example": "ref_01HZ\u2026"
          },
          "refereeWorkspaceId": {
            "type": "string",
            "description": "The workspace that signed up using this workspace's referral code."
          },
          "status": {
            "type": "string",
            "description": "`pending` until the referred workspace qualifies, then a completed state. Reward auto-grant is not yet wired, so `rewardMinor` stays 0."
          },
          "rewardMinor": {
            "type": "integer",
            "description": "Earned credit for this referral in minor units (currently always 0 \u2014 reward grant not yet wired)."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ReferralOverview": {
        "type": "object",
        "required": [
          "code",
          "url",
          "rewardMinor",
          "summary",
          "data"
        ],
        "description": "The calling workspace's own referral code, shareable link, the standing per-referral reward, and its referral history.",
        "properties": {
          "code": {
            "type": "string",
            "description": "This workspace's referral code (auto-allocated on first read)."
          },
          "url": {
            "type": "string",
            "description": "Absolute shareable referral URL (`${SITE}/?ref=<code>`)."
          },
          "rewardMinor": {
            "type": "integer",
            "description": "The standing reward per completed referral, in minor units."
          },
          "summary": {
            "type": "object",
            "required": [
              "total",
              "pending",
              "completed",
              "earnedMinor"
            ],
            "properties": {
              "total": {
                "type": "integer"
              },
              "pending": {
                "type": "integer"
              },
              "completed": {
                "type": "integer"
              },
              "earnedMinor": {
                "type": "integer",
                "description": "Sum of rewardMinor over completed referrals."
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Referral"
            }
          }
        }
      },
      "PublicSignupProgram": {
        "type": "object",
        "required": [
          "merchantName",
          "defaultCommissionBps",
          "subscriptionCommission"
        ],
        "description": "The minimal, PUBLIC program info an affiliate self-signup landing page needs \u2014 just enough for a partner to decide to apply. Deliberately leaks no workspace ids, counters, or private config.",
        "properties": {
          "merchantName": {
            "type": "string",
            "description": "The merchant's display name."
          },
          "defaultCommissionBps": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "description": "Default commission in basis points."
          },
          "subscriptionCommission": {
            "type": "string",
            "enum": [
              "first",
              "recurring"
            ]
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid bearer token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Authenticated but lacks required role / workspace scope",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource doesn't exist or isn't visible in this workspace",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests \u2014 see `Retry-After` header",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        },
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds"
          }
        }
      },
      "BadRequest": {
        "description": "Validation failure (`code: invalid_request`) \u2014 `param` points at the offending field.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Conflict": {
        "description": "State conflict (`code: conflict`) \u2014 usually a uniqueness collision.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "InvalidStateTransition": {
        "description": "Resource is in a state where the requested operation isn't legal (`code: invalid_state_transition`).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "AalRequired": {
        "description": "Step-up required (`code: aal_required`). Re-authenticate with a recent factor (within 5 min) or upgrade the session to AAL=2 with a passkey assertion, then retry.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    },
    "parameters": {
      "WorkspaceId": {
        "name": "workspaceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Required on every money-adjacent POST. Replaying with the same key returns the original response byte-for-byte. Different body + same key \u2192 409."
      }
    }
  },
  "paths": {
    "/v1/healthz": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Liveness probe (public)",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/readyz": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Readiness probe (public)",
        "description": "Verifies DB connectivity. Used by Fly health checks. Body intentionally omits the session count value to avoid leaking deployment volume to public probes.",
        "security": [],
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "db": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "checks": {
                      "type": "object"
                    },
                    "elapsed_ms": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "DB unreachable"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/customers": {
      "get": {
        "tags": [
          "customers"
        ],
        "summary": "List customers",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "at_risk",
                "churned"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "description": "Substring match on email or name"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of customers",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Customer"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "customers"
        ],
        "summary": "Create a customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "wallet": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "country": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Customer with that email already exists"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/customers/{customerId}": {
      "get": {
        "tags": [
          "customers"
        ],
        "summary": "Retrieve a customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "customers"
        ],
        "summary": "Update a customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "wallet": {
                    "type": "string",
                    "maxLength": 100,
                    "nullable": true
                  },
                  "country": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2,
                    "nullable": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "customers"
        ],
        "summary": "Soft-delete a customer (PII scrubbed; references preserved)",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/products": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "List products",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of products",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Product"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "products"
        ],
        "summary": "Create a product",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/products/{productId}": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Retrieve a product",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "products"
        ],
        "summary": "Update a product",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000,
                    "nullable": true
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "products"
        ],
        "summary": "Hard-delete a product",
        "description": "Returns 409 if any subscription still references the product (or any of its prices). Cascades to delete the product's prices.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Product still referenced by a subscription"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/products/{productId}/prices": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "List prices for a product",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Price"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "products"
        ],
        "summary": "Create a price for a product",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "interval"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Minor units (cents)"
                  },
                  "currency": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 3,
                    "default": "USD",
                    "example": "USD"
                  },
                  "interval": {
                    "type": "string",
                    "enum": [
                      "one_time",
                      "minute",
                      "hour",
                      "week",
                      "month",
                      "year"
                    ],
                    "description": "Base form (e.g. \"month\"); the Subscription view returns the adverb form \"monthly\"."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/prices/{priceId}": {
      "patch": {
        "tags": [
          "products"
        ],
        "summary": "Update a price (toggle active flag, edit metadata)",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "priceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "boolean"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "products"
        ],
        "summary": "Hard-delete a price",
        "description": "Returns 409 if any subscription still references this price.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "priceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Price still referenced by a subscription"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/invoices": {
      "get": {
        "tags": [
          "invoices"
        ],
        "summary": "List invoices",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "customerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "open",
                "paid",
                "past_due",
                "void"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Invoice"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "invoices"
        ],
        "summary": "Create an invoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customerId",
                  "chain",
                  "token",
                  "lineItems"
                ],
                "description": "The invoice total is derived from `lineItems[].quantity * unitAmountMinor`; there is no top-level amount field.",
                "properties": {
                  "customerId": {
                    "type": "string"
                  },
                  "chain": {
                    "$ref": "#/components/schemas/ChainId"
                  },
                  "token": {
                    "$ref": "#/components/schemas/TokenSymbol"
                  },
                  "currency": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 3,
                    "default": "USD",
                    "example": "USD"
                  },
                  "lineItems": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/LineItem"
                    }
                  },
                  "memo": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "dueInDays": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 365,
                    "default": 14,
                    "description": "Days from creation until the invoice is due."
                  },
                  "subscriptionId": {
                    "type": "string",
                    "description": "Set when the invoice is generated for a subscription period."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "invoices"
        ],
        "summary": "Retrieve an invoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/invoices/{invoiceId}/send": {
      "post": {
        "tags": [
          "invoices"
        ],
        "summary": "Email the hosted invoice link to the customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Email queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/InvalidStateTransition"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/invoices/{invoiceId}/reminder": {
      "post": {
        "tags": [
          "invoices"
        ],
        "summary": "Send a reminder for an unpaid invoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Reminder queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/invoices/{invoiceId}/void": {
      "post": {
        "tags": [
          "invoices"
        ],
        "summary": "Void an invoice (terminal state)",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Voided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/InvalidStateTransition"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/checkouts": {
      "post": {
        "tags": [
          "checkouts"
        ],
        "summary": "Create a hosted checkout session",
        "description": "Returns a session with an absolute `hostedUrl`; redirect the customer straight to it (uses an unguessable 192-bit `hostedToken`, not the merchant-facing `id`). Mode `payment` requires `invoiceId`; mode `subscription` requires `priceId`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mode"
                ],
                "description": "Customer: supply either `customerId` (existing) or `customerEmail` (find-or-create). For mode `payment` the customer is OPTIONAL \u2014 omit both to create a GUEST checkout (scan-and-pay, no email), e.g. a reusable payment link; the response `customerId` is then null. Mode `subscription` always requires a customer. Mode `payment` takes exactly one of `invoiceId`, a one-time `priceId`, or an ad-hoc `amount` (the latter two also need a chain + token); mode `subscription` requires a recurring `priceId` and a chain/token.",
                "properties": {
[...]
